@model Tesouraria.Apresentacao.ViewModels.CaixaViewModel
@{
    ViewBag.Title = "Recebimento de Taxas";
}
<h2 class="portlet-title">
    <i class="fa fa-calendar-check-o">&nbsp;Detalhes do Recebimento</i>
    <button type="button" class="btn btn-primary pull-right" id="btImprimir">
        <span class="fa fa-print"></span><span>&nbsp;Comprovante</span>
    </button>
    <button type="button" class="btn pull-right" style="margin-right: 10px" id="btVoltar">
        <span class="fa fa-arrow-circle-left"></span><span>&nbsp;&nbsp;Voltar&nbsp;&nbsp;</span>
    </button>
</h2>
<hr />
<div class="container">
    <form class="form-horizontal" role="form">
    <div class="col-sm-8">
        <div class="col-sm-12">
            @Html.Label("Taxas", new { @class = "control-label" })
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            @if (Model.TaxasVM != null)
            {
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Código
                            </th>
                            <th>
                                Taxa
                            </th>
                            <th>
                                Valor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TaxasVM)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.TaxaId)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Valor)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row form-group">
            <div class="col-sm-12">
                @Html.Label("Pessoa", new { @class = "control-label" })
            </div>
            <div class="col-sm-12">
                @Html.DisplayFor(x => Model.Pessoa.Nome)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                @Html.Label("Valor Total", new { @class = "control-label" })
            </div>
            <div class="col-sm-12">
                @Html.DisplayFor(x => Model.Valor)
            </div>
        </div>
    </div>
    </form>
</div>
<script type="text/javascript" src="~/Scripts/Tesouraria/CaixaScript.js"></script>
